html {
    background-color: #121212;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body{
    margin: 36px auto;
    width: 70%;
    //background-color:#fafafa
    background-color: #121212;
}

table {
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    border-collapse: collapse;
    text-align:center;
    //background-color: #FAFAFA;
    background-color: #121212;
}

a:link {
    color: #fafafa;
    text-decoration: none;
}

a:visited {
    color: #fafafa;
    text-decoration: none;
}

a:hover {
    color: #e0e0e0;
    text-decoration: none;
}

a:active {
    color: #fafafa;
    text-decoration: none;
}

h1 {
    text-align:center;
    color:#fafafa;
}

h2 {text-align:center;
    color:#fafafa;
    font-size: 95%;
}

label {
    color:#ffffff;
    font-size: 88%;
}

legend {
    color:#fafafa;
    font-weight: lighter;
}

p {color:#fafafa;
   font-family:Georgia, serif;
   text-indent: 3em; }

h3 {
    color: #fafafa;
    text-indent: 2em;
    font-size: 80%;
    font-weight: normal;
}


li{
    color: #fafafa;
    font-size: 90%;
}


#page{
    margin: 0 auto 53px;
    width: 95%;
    border: 1px solid black;
    border-radius: 15px;
}


/* header section */
header{
    margin-left: auto;
    margin-right: auto;
}

/* header h1 {
    padding: 0.8em 5.33333333%;
}*/

/* nav section */
nav{
    //float: left;
    //width: 17%;
    //background-color: #fafafa;
    background-color: #121212;
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #acacac;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #acacac;
}

nav ol {
    //padding-left: 5.33333333%;
}

nav ol li{
    display: inline;
    list-style-type: none;
    padding-right: 3em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 88%;
}


/* article section */

article{
    //background-color:#fafafa;
    background-color: #121212;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #acacac;
}

#info{
    background-color: #121212;
    border-style: dashed;
    border-width: 1px;
    border-color: #acacac;
}


/* form section */
fieldset{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-style: dashed;
    border-width: 1px;
    border-color: #acacac;
}

legend{
    color:#fafafa;
    font-size:large;
    font-weight:bold;
}

.required {
    color: #f00;
}

.missing {
    color: #fffe89;
    /*	display: none;*/
}

/* #errors ol li{
    color: #fffe89;
}*/

/* footer section */
footer{
    text-align: left;
    float: left;
    width: 100%;
    //background-color: #fafafa;
    background-color: #121212;
}

img.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
}